<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mainTitle}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    {{>header}}
    
    <section class="image">
        <div class="image-container">
            <img class="icon-1" src="img/1.jpg" alt="1">
            <img class="icon" src="img/icon.jpg" alt="icon">
            <img class="icon-2" src="img/2.jpg" alt="2">
        </div>
    </section>

    {{{body}}}

    <footer class="footer">
			<div class=footer-container>
				<p class="copyright">Copyright &#169;</p>
			</div>
    </footer>
    
</body>
</html>