<div class="head-container">
    <header class="header">
        <div class="header-container">
            <h1>Spider-Man</h1>
        </div>
        <nav class="menu">
                <ul>
                    <li><a href="/">Main page</a></li>
                    <li><a href="/bio">Biography</a></li>
                    <li><a href="/legacy">Cultural impact and legacy</a></li>
                    <li><a href="/links">Links</a></li>
                </ul>
        </nav>
    </header>
</div>