<!DOCTYPE html>
<html lang="en">
<head>
	<title>Заголовок</title>
	<meta charset="utf-8">
	<meta description="temlpate code">
	<meta keyword="temlpate, test">
</head>
<body>
	<div class="page">
		<header class="header">
			<div class="header-container">
				<h1>Surname Name</h1>
			</div>
		</header>
		<main class="content">
			<div class="content-container">
				<section class="image">
					<div class="image-container">
						<img src="img/icon.png" alt="">
					</div>
				<nav class="menu">
					<ul>
						<li><a href="#brief">Brief</a></li>
						<li><a href="#bio">Bio</a></li>
						<li><a href="#activity">Activity</a></li>
						<li><a href="#links">Links</a></li>
					</ul>
				</nav>
				</section>
				<section class="brief">
					<h2 id="brief" class="sectionText">Brief</h2>
					<p class="mainText">Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Magni nam iusto illum voluptates accusantium sint aliquam deleniti eaque dolorem iure consequatur perspiciatis ullam, unde exercitationem vitae sed, corporis corrupti odio!</p>
				</section>
				<section class="bio">
					<h2 id="bio" class="sectionText">Bio</h2>
					<p class="mainText">Lorem ipsum dolor sit, amet consectetur, adipisicing elit. Suscipit, explicabo error maiores mollitia sit iste, ratione sunt, sed provident doloremque laudantium inventore similique assumenda quas soluta nisi voluptas, excepturi ipsam!</p>
				</section>
				<section class="activity">
					<h2 id="activity" class="sectionText">Activity</h2>
					<p class="mainText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis nam ad odit, nisi incidunt repudiandae voluptas, amet maxime in hic, quaerat asperiores recusandae culpa tenetur quisquam earum accusamus perferendis eveniet.</p>
				</section>
				<section class="links">
					<h2 id="links" class="sectionText">Links</h2>
					<ul>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
						<li><a href="">Link</a></li>
					</ul>
				</section>
			</div>

		</main>
		<footer class="footer">
			<div class=footer-container>
				<p class="copyright">Copyright</p>
			</div>
		</footer>
	</div>
</body>